#username {
  text-align: center;
  font-size: 30px;
  color: black
}

#password {
  text-align: center;
  font-size: 30px;
  color: black
}

.login {
  background-color: rgba(255, 255, 255, 0.411);
  border: 1px solid #ffffff;
  border-radius: 6px;
  height: 180px;
  margin: 20px auto 0;
  width: 298px;
}

.submit {
  text-align: center;
  font-size: 30px;
  margin-left: 100px
}

.signup {
  /* border: 3px solid #ffffff31;
  border-radius: 6px; */
  height: 500px;
  margin: 20px auto 0;
  width: 298px;
}

.signupbutton {
  position: absolute;
  top: 16%;
  left: 0%;
  margin-top: 20vh;
  margin-left: 48%
}

.logOut {
  color: rgb(0, 0, 0);
  font-size: 40px;
  position: absolute;
  top: 0%;
  right: 0%
}

.sign {
  margin-top: 15vh;
  font-size: 3vh;
  top: 0%
}

.logOut:hover {
  color: red
}

.logOut:active {
  transform: translateY(4px);
}

.fa-home {
  font-size: 2.5vw;
  color: #000000
}

.usernameprofile {
  font-size: 30px;
  text-align: center
}

.fa-user-alt {
  font-size: 80px;
}

.fa-arrow-circle-left {
  color: rgba(100, 0, 0, 0.493);
  font-size: 30px
}

.fa-arrow-circle-left:active {
  transform: translateY(4px);
}

.fa-check {
  color: green
}

.fa-times {
  color: tomato
}

.fa-hand-spock {
  color: #64E2FF
}

.sign {
  color: black
}

.video-cont {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  grid-gap: 60px;
  /* margin-left: 450px */
}

.video-cont4:hover {
  background: rgba(255, 145, 0, 0.527);
  /* background-image: linear-gradient(120deg, #fccb9086 0%rgba(213, 126, 235, 0.603)eb 100%); */
}

.video-cont4 {
  text-align: center;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
  /* margin-left: 450px */
}

/* .signupbutton {
  position: absolute;
  top: 0%;
  
  margin-top: 150px;
  margin-left: 48%
} */

.main-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aboutmyself[type=text] {
  /* width: 500px;
 height: 100px; */
  box-shadow: 7px 4px 24px -1px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgba(0, 174, 255, 0.671);
  color: #ffffff;
  font-size: 20px;
  color: white;
}

.fa-caret-square-up {
  position: absolute;
  margin-top: 5px;
  right: 0%;
  font-size: 50px;
  color: black
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
  background-color: rgb(255, 255, 255) !important;
}

h1#header {
  text-align: center;
  padding: 50px;
  font-size: 62px;
  font-family: "Pacifico";
  text-shadow: 0 2px 2px #3c77b3;
}

.article-wrapper {
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

article {
  position: relative;
  padding-left: 180px;
  padding-right: 75px;
  height: 150px;
  margin-bottom: 30px;
  background-color: #fff;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  cursor: pointer;
}

article .img-wrapper {
  position: absolute;
  top: -10px;
  left: -10px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #cde;
  padding: 10px;
  z-index: 1000;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

article .img-wrapper img {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 150px;
}

article h1 {
  height: 75px;
  line-height: 75px;
  font-size: 24px;
  border-bottom: 2px solid #cde;
  color: #428bca;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

article p {
  color: #888;
}

article a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 150px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  font-size: 48px;
  font-style: italic;
  opacity: 0;
  color: #428bca !important;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none !important;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  font-family: "Pacifico";
  text-shadow: 0 1px 1px #AAA;
}

article:hover .img-wrapper {
  padding: 5px;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

article:hover .img-wrapper img {
  width: 160px;
}

article:hover a {
  opacity: 1;
}

.bloc article {
  padding: 10px;
  height: 225px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 75px;
}

.bloc article .img-wrapper {
  position: relative;
  top: -85px;
  width: 170px;
  left: inherit;
  margin: auto;
  margin-bottom: -100px;
}

.bloc article h1 {
  font-size: 14px;
  height: 37.5px;
  line-height: 37.5px;
}

.bloc article p {
  font-size: 12px;
}

.bloc article a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 255px;
}

.videos {
  width: 300px;
  height: 200px
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  margin-left: 450px;
  border: 5px solid rgb(225, 0, 255);
  border-radius: 100px; */
}

.videoss {
  border: 1px solid transparent;
  border-radius: 34px;
  margin: 1vw;
 
}

.videossss {
  border: 1px solid transparent;
  border-radius: 34px;
  box-shadow: 7px 4px 24px -11px rgba(0, 0, 0, 0.75);
  margin: 1vw
}

.videossss:hover {
  box-shadow: 10px 7px 24px 3px rgb(0, 0, 0);
}

.videossss4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
  border: 1px solid transparent;
  box-shadow: 7px 4px 24px -11px rgba(0, 0, 0, 0.75);
  margin: 1vw
}

.video-container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.vidcontainer{
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
}

.dot{
  position: absolute;

}

.oasswordorusername {
  margin-left: 2vh;
  margin-top: 4vh;
  color: tomato;
  font-size: 17px
}

.logiingout {
  height: 10vh;
  width: 36vh;
  position: absolute;
  top: 70%;
  margin-left: 55vh;
  background-color: rgba(255, 0, 0, 0.493);
  color: rgb(255, 255, 255);
  font-size: 18px
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.fa-times{
  margin-left: 17vw
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fa-chevron-circle-down {
  margin-left: 23vw;
  font-size: 2vw;
  position: absolute;
  color: rgb(0, 174, 255)
}

.videopop{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #64E2FF
}

.card7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30vw;
  border-top-right-radius: 2vw;
  border-top-left-radius: 2vw
}

.card7:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card5 {
  /* border: 1px solid transparent;
  border-radius: 67px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 88%; */
  /* background-color: rgba(214, 152, 230, 0.37) */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60vw;
  height: 35vw;
  margin-left: 20vw;
}

.card5:hover {
  /* background-color: rgba(255, 192, 203, 0.13); */
  background-image: linear-gradient(120deg, #fccb905e 0%, #d57eeb71 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.616);
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 17vw;
  width: 40%;
  position: absolute;
  right: 16vw;
  margin: 2.6vw;
  z-index: -1;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 17vw;
  width: 20%;
  position: absolute;
  left: 10%;
  margin: 2.6vw
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card4:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card4 {
  position: absolute;
  right: 20%;
  margin: 10vw
}

.vlogy {
  font-family: fantasy;
  font-size: 2vw;
  position: absolute;
  top: 1vw;
  right: 48vw;
}

.commentsfedd {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
  /* background-color: #ffffff52; */
  position: absolute;
  right: 27vw;
  width: 17vw;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  overflow: auto;
  height: 21vw;
}

.container {
  padding: 2px 16px;
}

.oasswordorusernamet {
  margin-left: 2vh;
  margin-top: 4vh;
  font-size: 17px;
  color: green
}

ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
  width: 100%;
  overflow: hidden;
  background-color: rgb(241, 216, 216);
  border-bottom: 2px solid #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(196, 196, 196, 0.425);
}

.searchcontainer {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16%;
  background: #fdfdfd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.inputcon {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  position: absolute;
  right: 7%;
  margin-right: 7%;
}

.searchcontainer:hover {
  background-color: #ebe5e58f
}

.fa-comment-dots {
  font-size: 2vw;
}

.aboutcontainer {
  text-align: inherit;
  position: absolute;
  top: 22%;
  right: 34%;
  background-color: rgba(131, 118, 118, 0.288);
  border: 2px solid #ffffff;
  border-radius: 10px;
  height: 14vh;
  width: 55vh;
}

.fa-user-plus {
  font-size: 5vh;
  color: rgb(54, 185, 42)
}

.fa-user-minus {
  font-size: 5vh;
  color: rgb(255, 47, 47)
}

/* .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid rgb(255, 255, 255);
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
} */

.dialogbox3 .body3 {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color:#F1D8D8;
  border-radius: 3px;
  border: 5px solid rgba(255, 255, 255, 0.623);
}

.dialogbox3 .body3:hover {
  background-color: #00000056
}

.body3 .message3 {
  min-height: 20px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 16px;
  line-height: 0.5;
  color: #000000;
  margin-bottom: 0.3vw
}




.dialogbox5  {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  overflow: auto;
  height: 21vw;
  
}


.dialogbox7  {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  overflow: auto;
  height: 21vw;
  
}


.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 5px solid rgba(255, 255, 255, 0.623);
  
}

.dialogbox .body:hover {
  background-color: #00000056
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.fa-trash-alt {
  position: absolute;
  right: 38%;
  top: 43%;
  font-size: 30px;
}

.comments {
  border: #111
}

.usernameimg {
  width: 170px;
  height: 170px;
  border: 5px solid #1C6EA4;
  border-radius: 100px;
  box-shadow: -4px -7px 65px -20px rgba(45, 44, 46, 1);
}

.usernameimg4 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  box-shadow: -4px -7px 65px -20px rgba(45, 44, 46, 1);
}

.usernameimg2:hover {
  border: rgba(255, 255, 255, 0.637);
}

.usernameimg2 {
  width: 100px;
  height: 100px;
  border: 5px solid rgb(255, 145, 0);
  border-radius: 100px;
  box-shadow: -4px -7px 65px -20px rgba(45, 44, 46, 1);
}

.imginput {
  text-align: center;
  border: 3px solid #1C6EA4;
  border-radius: 40px;
  position: absolute;
  top: 16%;
  right: 49%;
}

.videos {
  position: absolute;
  top: 30%;
  right: 49%;
}

.followersprofile {
  position: absolute;
  top: 15%;
  right: 43%;
}

.fa-pencil-alt {
  float: right;
  color: rgb(223, 219, 6);
  cursor: pointer;
  font-size: 2vw
}

.fa-pencil-alt:active {
  transform: translateY(4px);
}

.uploadcontainer {
  text-align: center;
  position: absolute;
  top: 30%;
  right: 10%;
  height: 5vw;
  width: 17vw;
  background-color: #111111;
  border: 6px solid rgb(0, 0, 0);
  /* border-radius: 40px; */
  box-shadow: 7px 4px 24px -1px rgba(255, 255, 255, 0.75);
}

.grid {
  font-size: 2vw;
  position: absolute;
  top: 27%;
  right: 55%
}

.grid:hover {
  color: red
}

.uploadcontainer2 {
  text-align: center;
  position: absolute;
  top: 10%;
  right: 20%;
  height: 12vw;
  width: 17vw;
  background-color: #11111191;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 7px 4px 24px -1px rgba(255, 255, 255, 0.75);
}

.fa-video {
  font-size: 7vw;
  color: pink;
  position: absolute;
  top: 17%;
  right: 10%;
}

.fa-video:active {
  transform: translateY(4px);
}

.fa-video:hover {
  transform: translateY(4px);
  color: rgb(245, 97, 121)
}

.uploadbutton {
  position: absolute;
  right: 3vw;
  top: 1.8vw;
  color: rgb(248, 246, 246);
  background-color: #111;
  border: 1px solid pink;
  border-radius: 40px;
}

.inputupload {
  display: inline-block;
  color: rgb(248, 246, 246);
  background-color: transparent;
  font-size: 17px;
  text-align: center
}

.uploadbutton:hover {
  background-color: pink;
  color: #111
}

.fa-user-edit:active {
  transform: translateY(4px);
}

.fa-user-edit:hover {
  color: rgb(245, 163, 0);
  transform: translateY(4px);
}

.fa-heart {
  font-size: 4vw
}

.heart2 {
  color: red
}

.fa-heart:hover {
  transform: translateY(3px);
  color: rgb(255, 0, 0);
}

.numlikes{
  font-size: 1vw
}

/* #mylikes{
  
  margin-left: 24vw;
  
  
} */
.fa-gratipay{
  font-size: 2vw;
  color: rgb(255, 0, 0);
  margin-left: 23vw
}

.fa-trash {
 
  
  font-size: 1vw;
  color: #111
}

.fa-edit {
  font-size: 2vw;
  float: right
}

.fa-trash:active {
  transform: translateY(4px);
}

.commentcontainer {
  position: absolute;
  right: 30vw;
}

.commentsss {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.3vw;
  border-bottom: 2px solid rgb(255, 238, 0);
  position: absolute;
  right: 28vw;
}


.commentsss7 {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.3vw;
  border-bottom: 2px solid rgb(255, 238, 0);
  
}

.commentsss8 {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.3vw;
  border-bottom: 2px solid rgb(255, 238, 0);
  
  
}

.commentsss5 {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.3vw;
  border-bottom: 2px solid rgb(255, 238, 0);
  position: absolute;
  right: 80vw;
}

.commentsss::placeholder {
  color: #000000
}

.fa-paper-plane {
  font-size: 27px;
  position: absolute;
  right: 26vw
}


.fa-plus{
  font-size:1.4vw
}
/* .fa-paper-plane2 {
  font-size: 27px;
  position: absolute;
  right: 45vw
} */


.commentsss:hover {
  background-color: #1111116c
}

.commentsss::placeholder {
  color: whitesmoke
}

.fa-paper-plane:active {
  transform: translateY(4px);
}

.myfeed {
  font-family: "Brush Script MT";
  margin-left: 35vw;
  color: #000000;
  background: transparent;
  text-shadow: 2px 2px 0 #ffffff, 4px 4px 0 #ffffff;
  font-size: 10vw
}