#username {
  text-align: center;
  font-size: 30px;
  color: black
}

#password {
  text-align: center;
  font-size: 30px;
  color: black
}

.login {
  background-color: rgba(255, 255, 255, 0.411);
  border: 1px solid #ffffff;
  border-radius: 6px;
  height: 180px;
  margin: 20px auto 0;
  width: 298px;
}

.submit {
  text-align: center;
  font-size: 30px;
  margin-left: 100px
}

.signup {
  /* border: 3px solid #ffffff31;
  border-radius: 6px; */
  height: 500px;
  margin: 20px auto 0;
  width: 298px;
}

.signupbutton {
  position: absolute;
  top: 16%;
  left: 0%;
  margin-top: 20vh;
  margin-left: 48%
}

.logOut {
  color: rgb(0, 0, 0);
  font-size: 40px;
  position: absolute;
  top: 0%;
  right: 0%
}

.sign {
  margin-top: 15vh;
  font-size: 3vh;
  top: 0%
}

.logOut:hover {
  color: red
}

.logOut:active {
  transform: translateY(4px);
}

.usernameprofile {
  font-size: 30px;
  text-align: center
}

.fa-user-alt {
  font-size: 80px;
}

.fa-arrow-circle-left {
  color: rgba(100, 0, 0, 0.493);
  font-size: 30px
}

.fa-arrow-circle-left:active {
  transform: translateY(4px);
}

.fa-check {
  color: green
}

.fa-times {
  color: tomato
}

.fa-hand-spock {
  color: #64E2FF
}

.sign {
  color: black
}

.video-cont {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  grid-gap: 60px;
  margin-left: 450px
}

/* .signupbutton {
  position: absolute;
  top: 0%;
  
  margin-top: 150px;
  margin-left: 48%
} */

.main-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aboutmyself[type=text] {
  /* width: 500px;
 height: 100px; */
 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgba(0, 174, 255, 0.671);
  color: #ffffff;
  font-size: 20px;
  color: white;
}

.fa-caret-square-up {
  position: absolute;
  margin-top: 5px;
  right: 0%;
  font-size: 50px;
  color: black
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
  padding: 0 100px 100px;
  background-color: rgba(115, 89, 177, 0.541) !important;
}

h1#header {
  text-align: center;
  padding: 50px;
  font-size: 62px;
  font-family: "Pacifico";
  text-shadow: 0 2px 2px #3c77b3;
}

.article-wrapper {
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

article {
  position: relative;
  padding-left: 180px;
  padding-right: 75px;
  height: 150px;
  margin-bottom: 30px;
  background-color: #fff;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  cursor: pointer;
}

article .img-wrapper {
  position: absolute;
  top: -10px;
  left: -10px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #cde;
  padding: 10px;
  z-index: 1000;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

article .img-wrapper img {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 150px;
}

article h1 {
  height: 75px;
  line-height: 75px;
  font-size: 24px;
  border-bottom: 2px solid #cde;
  color: #428bca;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

article p {
  color: #888;
}

article a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 150px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  font-size: 48px;
  font-style: italic;
  opacity: 0;
  color: #428bca !important;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none !important;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  font-family: "Pacifico";
  text-shadow: 0 1px 1px #AAA;
}

article:hover .img-wrapper {
  padding: 5px;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

article:hover .img-wrapper img {
  width: 160px;
}

article:hover a {
  opacity: 1;
}

.bloc article {
  padding: 10px;
  height: 225px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 75px;
}

.bloc article .img-wrapper {
  position: relative;
  top: -85px;
  width: 170px;
  left: inherit;
  margin: auto;
  margin-bottom: -100px;
}

.bloc article h1 {
  font-size: 14px;
  height: 37.5px;
  line-height: 37.5px;
}

.bloc article p {
  font-size: 12px;
}

.bloc article a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 255px;
}

.videos {
  border: 5px solid rgb(225, 0, 255);
  border-radius: 100px;
}

.oasswordorusername {
  margin-left: 2vh;
  margin-top: 4vh;
  color: tomato;
  font-size: 17px
}

.logiingout {
  height: 10vh;
  width: 36vh;
  position: absolute;
  top: 70%;
  margin-left: 55vh;
  background-color: rgba(255, 0, 0, 0.493);
  color: rgb(255, 255, 255);
  font-size: 18px
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.oasswordorusernamet {
  margin-left: 2vh;
  margin-top: 4vh;
  font-size: 17px;
  color: green
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.664);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.searchcontainer {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #fdfdfd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.inputcon {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  position: absolute;
  right: 0%;
  margin-right: 7%;
}

.searchcontainer:hover {
  background-color: #ebe5e5a9
}

.aboutcontainer {
  text-align: inherit;
  position: absolute;
  top: 22%;
  right: 34%;
  background-color: rgba(131, 118, 118, 0.288);
  border: 2px solid #ffffff;
  border-radius: 10px;
  height: 14vh;
  width: 55vh;
}

.fa-user-plus {
  font-size: 5vh;
  color: rgb(54, 185, 42)
}

.fa-user-minus {
  font-size: 5vh;
  color: rgb(255, 47, 47)
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid rgb(255, 255, 255);
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 3px;
  border: 5px solid rgb(255, 255, 255);
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 20px;
  line-height: 1.5;
  color: #0000008c;
}

.fa-trash-alt {
  position: absolute;
  right: 38%;
  top: 43%;
  font-size: 30px;
}

.comments {
  border: #111
}

.usernameimg {
  width: 170px;
  height: 170px;
  border: 5px solid #1C6EA4;
  border-radius: 100px;
  /* position: absolute;
  top: 5%;
  right: 10% */

}

.imginput{text-align: center;
  border: 3px solid #1C6EA4;
border-radius: 40px;
  position: absolute;
  top: 16%;
  right:49%;
}

.videos{
   position: absolute;
  top: 30%;
  right:49%; 
  

}