#username{
  text-align: center;
  font-size: 30px;
  color: black
}
#password{
  text-align: center;
  font-size: 30px;
  color: black
}

.login {
  background-color: rgba(2, 217, 255, 0.767);
  border: 1px solid #ffffff;
  border-radius: 6px;
  height: 130px;
  margin: 20px auto 0;
  width: 298px;
  
}

.submit{
  text-align: center;
  font-size: 30px;
  margin-left:100px
}

.signup {
  
  border: 1px solid #ffffff;
  border-radius: 6px;
  height: 500px;
  margin: 20px auto 0;
  width: 298px;
  
}

.signupbutton{
  position: absolute;
  top: 0%;
  left:0%;
  margin-top: 150px
  ;margin-left: 48%
}